footer
    div(class="col")
        <a target="_blank" href="/post/about">关于小鸡</a><em> · </em>
        <a target="_blank" href="/post/about">联系小鸡</a><em> · </em>
        <a target="_blank" href="/post/link">添加友链</a><em> · </em>
        <a target="_blank" href="https://www.github.com/flymysql">Github</a><em> · </em>
        <a target="_blank" href="/">微博</a>
        span= " ·  Theme by "
        a(href="https://me.idealli.com/post/d3f1788e3")= "Flybook"
        div(class="icp")
            span= "©2018-2019 " + site.title + " | " + site.icp 
            script(async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js")
            span(id="busuanzi_container_site_pv")= " 本站总访问量"
            span(id="busuanzi_value_site_pv")= "次"