header(class="header")
    div(class="head-content")
        if !header_logo
            a(href="/" class="logo")
        else
            a(href="/" class="logo" style="background-image:" + "url(" + header_logo + ");")
        a(class="btn" target="_blank" href="/create")="写文章"
        a(class="archives normol-head" href="/archives" target="_blank")= "归档"
        a(class="link normol-head" href="/post/link" target="_blank")= "友链"
        a(class="photos normol-head" href="/others/photos.html" target="_blank")= "相册"
        a(class="email normol-head" href="/post/email" target="_blank")= "订阅"
        form(action="/search" accept-charset="UTF-8" method="get" class="normol-head")
            input(type="text" name="s" id ="s" placeholder="搜索" class="search-input")