div(class="index-aside")
    .rights(style='width:100%; height: 220px; margin-right: 0px;float: right;')
        each asd in index_aside
            a(href=asd.link target='_blank' style='text-align: right; width: 80%;')
                img(src=asd.img width='100%' id="no-view")
    div(class="tag-cloud-tags" id="tagcloud")
        each tag in tags
                a(style="font-size: 16px;" href="/tag/" + tag)
                    div(class="tag_img" data-img=tag)
                    span=tag
    br
    span= "推荐作者"
    ul(class="index-list")
        for link in friends
            li
                a(href=link.link target="_blank" class="avatar")
                    img(src=link.img id="no-view")
                a(class="follow" href=link.link target="_blank")= "关注"
                a(href=link.link target="_blank" class="index-name")= link.name
                p= link.desc
    a(href="/post/link" target="_blank" class="find-more")= "查看更多"
    br
    br
    //div(class="ads")
    //    a(class="ads-link" href="https://www.vultr.com/?ref=7772625-4F" target="_blank")
    //        img(class="ads-img" src="/images/aside-ads.jpg" id="no-view")

    div(class="site-info")
        ul
            each foo in site.footer
                a(target="_blank" href=foo.link)= foo.desc
        ul
            span= "©2018-2019 " + site.title + " | " + site.icp 
        ul
            span= "  Theme by "
            a(href="https://flycode.co/post/d3f1788e3")= "Flybook"

<br style="clear:both;">