div(class="index-aside")
    .rights(style='width:100%; height: 320px; margin-right: 0px;float: right;')
        a(href='/tag/%E9%9A%8F%E6%83%B3/', target='_blank', style='text-align: right; width: 80%;')
            img(src='/images/110604.jpg', width='100%' id="no-view")
        a(href='/tag/资源/', target='_blank', style='  width: 80%; text-align: right;')
            img(src='/images/110605.jpg', width='100%' id="no-view")
        a(href='/post/about', target='_blank', style=' width: 80%; text-align: right;')
            img(src='/images/110606.jpg', width='100%' id="no-view")
        a(href='/archives', target='_blank', style='width: 80%;text-align: right;')
            img(src='/images/110607.png', width='100%' id="no-view")
        div(style='width: 98%; height: 65px;  border: 1px solid #eee; border-radius: 5px;    margin-top: 20px;')
            img(src='/images/qrcode.jpg', width='60', height='60', style='float: left;')
            div(style='padding-left: 10px;    float: right;')
                h3= "关注小鸡资源库"
                p= "更多精彩资源免费放送！！"
    div(class="tag-cloud-tags" id="tagcloud")
    br
    span= "推荐作者"
    ul(class="index-list")
        for link in friends
            li
                a(href=link.link target="_blank" class="avatar")
                    img(src=link.img id="no-view")
                a(class="follow" href=link.link target="_blank")= "关注"
                a(href=link.link target="_blank" class="index-name")= link.name
                p= link.desc
    a(href="/post/link" target="_blank" class="find-more")= "查看更多"
    br
    br
    div(class="ads")
        a(class="ads-link" href="https://www.vultr.com/?ref=7772625-4F" target="_blank")
            img(class="ads-img" src="/images/aside-ads.jpg" id="no-view")

    div(class="site-info")
        ul
            a(target="_blank" href="/post/about")= " 关于小鸡 · "
            a(target="_blank" href="/post/about")= " 联系小鸡 · "
            a(target="_blank" href="/post/link")= " 添加友链 · "
            a(target="_blank" href="/rss.xml?t="+sst)= " RSS订阅 · "
            a(target="_blank" href="/post/email")= " 邮件订阅 · "
            a(target="_blank" href="https://www.github.com/flymysql")= " Github  · "
            a(target="_blank" href="https://weibo.com/237199972")= " 微博 "
        ul
            span= "©2018-2019 " + site.title + " | " + site.icp 
        ul
            span= "  Theme by "
            a(href="https://me.idealli.com/post/d3f1788e3")= "兰州小红鸡"

<br style="clear:both;">