div(class="index-aside")
    .rights(style='width:100%; height: 320px; margin-right: 0px;float: right;')
        a(href='/tag/%E9%9A%8F%E6%83%B3/', target='_blank', style='text-align: right; width: 80%;')
            img(src='/images/110604.jpg', width='100%' id="no-view")
        a(href='/tag/资源/', target='_blank', style='  width: 80%; text-align: right;')
            img(src='/images/110605.jpg', width='100%' id="no-view")
        a(href='/post/about', target='_blank', style=' width: 80%; text-align: right;')
            img(src='/images/110606.jpg', width='100%' id="no-view")
        a(href='/archives', target='_blank', style='width: 80%;text-align: right;')
            img(src='/images/110607.png', width='100%' id="no-view")
        div(style='width: 98%; height: 65px; display: inline-block; border: 1px solid #eee; border-radius: 5px;    margin-top: 20px;')
            img(src='/images/qrcode.jpg', width='60', height='60', style='float: left;')
            div(style=' display: block;float: left; padding-left: 10px;')
            div(style='font-size: 16px;font-weight: 600;')= "关注小鸡资源库"
            div(style='font-size: 14px; font-weight: 200;')= "更多精彩资源免费放送！！"
    div(class="tag-cloud-tags" id="tagcloud")
    br
    hr
    span= "推荐作者"
    ul(class="index-list")
        for link in friends
            li
                a(href=link.link target="_blank" class="avatar")
                    img(src=link.img id="no-view")
                a(class="follow" href=link.link target="_blank")= "关注"
                a(href=link.link target="_blank" class="index-name")= link.name
                p= link.desc
    a(href="/post/link" target="_blank" class="find-more")= "查看更多"
    br
    br
    div(class="ads")
        a(class="ads-link")
            img(class="ads-img" src="https://me.idealli.com/uploads/images/imageup-1558579768500.png" id="no-view")
<br style="clear:both;">