div(class="post-aside")
    div(class="ads")
        a(class="ads-link" href="https://www.vultr.com/?ref=7772625-4F" target="_blank")
            img(class="ads-img" src="/images/loading.gif?t="+sst data-src="/images/aside-ads.jpg" id="no-view")

    div(style='width: 98%; height: 65px; border: 1px solid #eee; border-radius: 5px; margin-top: 20px;')
        img(data-src='/images/qrcode.jpg', width='60', height='60', style="display:inline-block;margin-bottom: 10px;")
        div(style='padding-left: 10px;display:inline-block')
            strong= "关注小鸡资源库"
            p= "更多精彩资源"
    div(class="site-info")
        ul
            a(target="_blank" href="/post/about")= " 关于小鸡 · "
            a(target="_blank" href="/post/about")= " 联系小鸡 · "
            a(target="_blank" href="/post/link")= " 添加友链 · "
            a(target="_blank" href="/rss.xml?t="+sst)= " RSS订阅 · "
            a(target="_blank" href="/post/email")= " 邮件订阅 · "
            a(target="_blank" href="https://www.github.com/flymysql")= " Github  · "
            a(target="_blank" href="https://weibo.com/237199972")= " 微博 "