extends layout
block head_content
  title= "写文章 | " + site.title 
  link(rel='stylesheet', href='/stylesheets/create.css?t='+sst)
block content
    if isLogined
        div(class="menu-admin")
            div(class="menu-author")
                img(src="/images/head.png", alt="author" class="menu-author-head" id="author-img")
                span(id="author_name" class="author_name")
                p(class="author_tag")= "退出"
            div(class="other-option")
                a(href="/" class="menu-block")= "首页"
                button(class="menu-block" onclick="write_post()" style="border: unset;text-align: left;")= "写文章"
                a(href="/admin" class="menu-block" target="_blank")= "文章列表"
                a(href="/draft" class="menu-block" target="_blank")= "草稿箱"
                a(href="/update/about" id="author-about" class="menu-block" target="_blank")= "个人介绍"
                a(href="/style" class="menu-block" target="_blank")= "主题样式"
                button(class="menu-block" onclick="site_set()" style="border: unset;text-align: left;")= "设置"
        div(class="post-content" id="btn1" data-status=status)
            if update
                input(type="text" value=title id="title" data-id=id)
            else
                input(type="text" value="新建文章" id="title" data-id=id)
            div(class="post-control")
                span= "关键词"
                if update
                    input(type="text" value=tag id="tag")
                else
                    input(type="text" value="随想" id="tag")
                span= "封面"
                if update
                    input(type="text" value=img id="img")
                else
                    input(type="text" value="图片链接" id="img")
                button(class="btn1" onclick="to_push(\"page\")")= "存为页面"
                button(class="btn1" onclick="to_push(\"cao\")")= "存为草稿"
                button(class="btn1" onclick="to_push(\"post\")")= "发表文章"
            div(id="editor")
                if update
                    !=content
                else
                    p= "开始你的创作吧！"
        script(src="/javascripts/wangEditor.min.js?t="+sst)
        script(src="/javascripts/jQuery.min.js?t="+sst)
        script.
            // 获取指定名称的cookie
            var post_content = "";
            function getCookie(name){
                var strcookie = document.cookie;//获取cookie字符串
                var arrcookie = strcookie.split("; ");//分割
                //遍历匹配
                for ( var i = 0; i < arrcookie.length; i++) {
                    var arr = arrcookie[i].split("=");
                    if (arr[0] == name){
                        return arr[1];
                    }
                }
                return "";
            }
            var author = getCookie("name");
            $("#author_name").text(author);
            $("#author-img")[0].src="/images/"+author+".png";
            $("#author-about")[0].href="/update/about"+author;
            var E = window.wangEditor; 
            var editor = new E( document.getElementById('editor') );
            //- editor.customConfig.uploadImgServer = '/upload';
            editor.customConfig.customUploadImg = function (files, insert) {
                var formData = new FormData();
                for(var i in files){
                    formData.append('imageup',files[i]);
                }
                $.ajax({
                        url: "/upload",
                        type: "post",
                        data:formData,
                        contentType: false,
                        processData: false,
                        success: function(res){
                            for(var i in res.url){
                                insert(res.url[i]);
                            }
                        },
                        error:function(err){
                            console.log(err);
                        }
                });
                // files 是 input 中选中的文件列表
                // insert 是获取图片 url 后，插入到编辑器的方法

                // 上传代码返回结果之后，将图片插入到编辑器中
                
            }
            function to_push(type){
                var img = $("#img")[0].value;
                if(img.indexOf("http") == -1){
                    img = null;
                }
                var desclist = $(".w-e-text").find("p");
                var desc = "";
                for(var i in desclist){
                    if(desc.length > 100) break;
                    if(desclist[i].textContent != undefined)
                    desc = desc + desclist[i].textContent;
                }
                console.log(desc);
                var post_content = editor.txt.html();
                console.log(post_content);
                $.post("/insert_post",{
                    id: document.getElementById('title').dataset.id,
                    tag: $("#tag")[0].value,
                    title: $("#title")[0].value,
                    author: author,
                    img: img,
                    type: document.getElementById('btn1').dataset.status,
                    content: post_content,
                    desc: desc,
                    ifpage: type
                },
                function(data){
                    if(data == "succeed"){
                        if(type == "cao"){
                            alert("保存成功！");
                        }
                        else{
                            alert("文章发表成功");
                            window.location="/";
                        }
                    }
                });
            }
            editor.create();
            function site_set(){
                $.get("/get_config",{},
                    function(data){
                    post_content = $(".post-content").html();
                    $(".post-content").html("<textarea class=\"post_update_content\" spellcheck=\"false\" \
                    id=\"config_area\">" + data + "</textarea><button class=\"btn1\" onclick=\"to_push_config()\">保存配置</button>");
                });
            }
            function write_post(){
                if (post_content!=""){
                    $(".post-content").html(post_content);
                }
            }
            function to_push_config(){
                var data = $("#config_area").val();
                $.post("/push_config",{
                    new_config: data
                },
                function(data){
                    if(data == "succeed"){
                        alert("保存成功！")
                    }
                    else alert("保存失败")
                });
            }

    else
        div.
            <form method="POST" action="/login" class="login">
                <input type="text" id="name" name="name" value="levy" />
                <input type="password" id="password" name="password" value="123456" />
                <input type="submit" value="登录" id="login" />
            </form>
        script(src="/javascripts/jQuery.min.js")
        script.
            $('#login').click(function(evt){
                evt.preventDefault();

                $.ajax({
                    url: '/login',
                    type: 'POST',
                    data: {
                        name: $('#name').val(),
                        password: $('#password').val()
                    },
                    success: function(data){
                        if(data.ret_code === 0){
                            var exp = new Date();
                            exp.setTime(exp.getTime() + 8640000000);
                            document.cookie = "name" + "="+ $('#name').val() + ";expires=" + exp.toGMTString();
                            location.reload();
                        }
                        else{
                            alert("账号密码错误！！")
                        }
                    }
                });
            });


