extends layout
block head_content
  title= "写文章 | " + site.title 
  link(rel='stylesheet', href='/stylesheets/create.css')
block content
    if isLogined
        div(class="post-content")
            if update
                input(type="text" value=title id="title" data-id=id)
            else
                input(type="text" value="新建文章" id="title" data-id=id)
            div(id="editor")
                if update
                    div!=content
                else
                    p= "开始你的创作吧！"
            div(class="post-control")
                span= "标签"
                if update
                    input(type="text" value=tag id="tag")
                else
                    input(type="text" value="随想" id="tag")
                span= "作者"
                input(type="text" value="小鸡" id="author")
                if update
                    input(type="text" value=img id="img")
                else
                    input(type="text" value="封面链接" id="img")
                button(id="btn1" data-type=type)= "发表"
                <input type="radio" name="type" value="post" checked="" style="width: 1em;">文章
                <input type="radio" name="type" value="page" style="width: 1em;">页面

            div(class="other-option")
                br
                a(href="/admin")= "文章列表"
                if update
                    a(href="/delete/" + id)= "删除文章"

        script(src="/javascripts/wangEditor.min.js")
        script(src="/javascripts/jQuery.min.js")
        script.
            var E = window.wangEditor; 
            var editor = new E( document.getElementById('editor') );
            //- editor.customConfig.uploadImgServer = '/upload';
            editor.customConfig.customUploadImg = function (files, insert) {
                var formData = new FormData();
                for(var i in files){
                    formData.append('imageup',files[i]);
                }
                $.ajax({
                        url: "/upload",
                        type: "post",
                        data:formData,
                        contentType: false,
                        processData: false,
                        success: function(res){
                            console.log(res.url)
                            insert(res.url[0]);
                        },
                        error:function(err){
                            console.log(err);
                        }
                });
                // files 是 input 中选中的文件列表
                // insert 是获取图片 url 后，插入到编辑器的方法

                // 上传代码返回结果之后，将图片插入到编辑器中
                
            }
            editor.create();
            $(document).ready(function(){
                $("#btn1").click(function(){
                    var img = $("#img")[0].value;
                    if(img == "封面链接"){
                        img = null;
                    }
                    $.post("/insert_post",{
                        id: document.getElementById('title').dataset.id,
                        tag: $("#tag")[0].value,
                        title: $("#title")[0].value,
                        author: $("#author")[0].value,
                        img: img,
                        type: document.getElementById('btn1').dataset.type,
                        content: editor.txt.html(),
                        ifpage: $("[name='type']").filter(":checked")[0].value
                    },
                    function(data,status){
                        alert("文章发表成功");
                        window.location="/";
                    });
                });
            });
   
            
    else
        div.
            <form method="POST" action="/login" class="login">
                <input type="text" id="name" name="name" value="levy" />
                <input type="password" id="password" name="password" value="123456" />
                <input type="submit" value="登录" id="login" />
            </form>
        script(src="/javascripts/jQuery.min.js")
        script.
            $('#login').click(function(evt){
                evt.preventDefault();

                $.ajax({
                    url: '/login',
                    type: 'POST',
                    data: {
                        name: $('#name').val(),
                        password: $('#password').val()
                    },
                    success: function(data){
                        if(data.ret_code === 0){
                            location.reload();
                        }   
                    }
                });
            });


