extends layout
block head_content
  title= site.title
  meta(name="description" content=site.description)
  meta(name="keywords" content=site.keywords)
  link(rel='stylesheet', href='/stylesheets/index.css?t='+sst)
block content
  div(class="index-container")
    div(class= "post-container")
      ul(class="post-list" id="post-list")
        include partails/carousel
        each post in list
          li(class="post-item")
            if post.img != ""
              a(href="/post/" + post.id class="post-item-img" target="_blank")
                img(src=post.img, alt="" id="no-view")
              div(class="post-item-content-img")
                h2(class="post-item-title")
                  a(href="/post/" + post.id target="_blank")=post.title
                p!=post.content
                div(class="post-item-meta")
                  a(href="/search?s="+post.author target="_blank")
                    img(src=post.author_head class="author_head")
                    span(class="author")= post.author
                  span(class="cop")= "✿" + post.cop
                  span= " 阅读" + post.view
                  span= " " + post.tag
                  span= " " + post.updateTime
            else
              div(class="post-item-content")
                h2(class="post-item-title")
                  a(href="/post/" + post.id target="_blank")=post.title
                p!=post.content
                div(class="post-item-meta")
                  a(href="/search?s="+post.author)
                    img(src=post.author_head class="author_head")
                    span(class="author")= post.author
                  span(class="cop")= "✿" + post.cop
                  span= " 阅读" + post.view
                  a(href="/tag/"+post.tag target="_blank")
                    span= " " + post.tag
                  span= " " + post.updateTime
      //div(class="ads")
      //      a(class="ads-link" href="https://flycode.co/post/651cfd47.html" target="_blank")
      //          img(data-src="https://flycode.co/uploads/images/imageup-1558576491588.png", class="ads-img" id="no-view")
      if !tag
        div(class="next-pre")
          button(id="more" class="index-more")= "查看更多"
    include partails/inside
block scripts
  script(src="/javascripts/more_post.js?t=" + sst)
    


