extends layout
block head_content
  title= "友链 | 兰州小红鸡"
  meta(name="description" content="兰州小红鸡")
  meta(name="keywords" content="兰州小红鸡,博客,技术博客,写作,阅读")
  link(rel="stylesheet", href="https://unpkg.com/autocjs@1.3.0/dist/autoc.min.css")
  link(rel='stylesheet', href='/stylesheets/post.css')
  link(rel='stylesheet', href='/stylesheets/link.css')
block content
    include partails/post-aside  
    div(class="post-content")
        h2(class="post-title")= "邻居们"
        <div id="author_name" data-name="小鸡" style="display:none;" class="overlay" onclick="cancel_link()"></div>
        article(class="post-body")
            ul(class="index-list")
                each link in links
                    li
                        a(href=link.href target="_blank" class="avatar")
                            img(src=link.img)
                        a(class="follow" state="0" href=link.href target="_blank")="关注"
                        a(href=link.href target="_blank" class="index-name")=link.name
                        p=link.desc

        div(class="ads")
            a(class="ads-link" href="https://me.idealli.com/post/651cfd47.html" target="_blank")
                img(data-src="https://me.idealli.com/uploads/images/imageup-1558576491588.png", class="ads-img" id="no-view")
     
        br
        div(class="to_add_link" onclick="show_form()")="申请友链"
        div(class="add_link_form" style="display:none;")
            h2(style="text-align:center;")="友链自助申请"
            label
                span="博客"
                input(type="text" id="name" placeholder="你的博客名")
            label
                span="链接"
                input(type="text" id="href" placeholder="你的链接")
            label
                span="头像"
                input(type="text" id="img" placeholder="https://")
            label
                span="简介"
                input(type="text" id="desc" placeholder="一句话概括下你的博客")
            label
                span="友链页"
                input(type="text" id="f_link" placeholder="你的友链页链接")
            label
                span="邮箱"
                input(type="text" id="email" placeholder="留下你的邮件，链接出问题时联系")
            button(class="add_link_submit" onclick="add_link()")= "提交申请"
            button(class="add_link_submit" onclick="cancel_link()")= "取消"
            div(class="tips")
                p(class="tip1")="FBI Warning"
                p(class="tip2")="请先将本网站链接添加至贵站友链页面，再填表申请本站友链，本站有爬虫自动检测贵站友链。"
                p="博客：小红鸡"
                p="链接：https:me.idealli.com"
                p="头像：https://me.idealli.com/images/head.png"
                p="简介：桃李春风一杯酒，江湖夜雨十年灯。"
        h3(class="post-title")= "本站实现自助添加友链，可点击左侧按钮进行友链添加"
        div(class="tag-cloud-tags" id="tagcloud" name="tagcloud")
            each tag in tags
                a(style="font-size: 16px;" href="/tag/" + tag)
                    div(class="tag_img" data-img=tag)
                    span=tag
        <br>
        include partails/comment
         
block scripts
    script.
        function show_form(){
            document.getElementsByClassName("add_link_form")[0].style.display="block";
            document.getElementsByClassName("overlay")[0].style.display="block";
        }
        function cancel_link(){
            document.getElementsByClassName("add_link_form")[0].style.display="none";
            document.getElementsByClassName("overlay")[0].style.display="none";
        }
        function add_link(){
            var h = $("#href")[0].value;
            var f = $("#f_link")[0].value;
            if (f.indexOf(h) == -1) {
                alert("你的友链链接" + f + "与博客链接" + h + "不在同一个域名下（或者http协议不同）！\n请重新输入！")
                return;
            }
            $.post("/add_link",{
                    name: $("#name")[0].value,
                    href: h,
                    img: $("#img")[0].value,
                    desc: $("#desc")[0].value,
                    f_link: f,
                    email: $("#email")[0].value,
                },
                function(data){
                    if(data == "succeed"){
                        alert("添加成功");
                    }
                    if (data == "err"){
                        alert("添加失败")
                    }
                });
        }