extends layout
block head_content
  title= title + " | " + site.title
  link(rel='stylesheet', href='/stylesheets/post.css?t='+sst)
  link(rel="stylesheet", href="/third-part/highlight/styles/github.css?t="+sst)
block content
    div(class="post-content")
        h2(class="post-title")= title
        div(class="author")
            a(class="avatar" href="/about/")
                img(src="/images/head.png" id="no-view")
            div(class="info")
                span(class="name")
                    a(href="/")= "小鸡"
                a(class="follow" href="/email/index.html")
                    span= "关注"
                div(class="meta")
                    span= "阅读" + view
                    span= " 喜欢" + like
                    span= " " + tag
                    span= " 更新" + updateTime

        article(class="post-body")
            div!=content
        div(class="like")
            button(id="like1")= "喜欢"
        div(class="ads")
            script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
            ins(class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-9337382035066908"
                data-ad-slot="4658962750"
                data-ad-format="auto"
                data-full-width-responsive="true")
            script.
                (adsbygoogle = window.adsbygoogle || []).push({});
        div(class="tag-cloud-tags" id="tagcloud")
        include comment