extends layout
block head_content
  title= title + " | " + site.title
  meta(name="description" content=desc)
  meta(name="keywords" content=tag+",兰州小红鸡,博客,技术博客,写作,阅读")
  link(rel="stylesheet", href="/third-part/highlight/styles/github.css?t="+sst)
  link(rel="stylesheet", href="https://unpkg.com/autocjs@1.3.0/dist/autoc.min.css")
  link(rel='stylesheet', href='/stylesheets/post.css?t='+sst)
block content
    div(class="post-content")
        h2(class="post-title")= title
        div(class="author")
            a(class="avatar" href="/about/")
                img(src="/images/head.png" id="no-view")
            div(class="info")
                span(class="name")
                    a(href="/")= "小鸡"
                a(class="follow" href="/email/index.html")
                    span= "关注"
                div(class="meta")
                    span= "阅读" + view
                    span= " 喜欢" + like
                    span= " " + tag
                    span= " 更新" + updateTime

        article(class="post-body")
            div!=content
        div(class="like")
            button(id="like1")= "喜欢"
        div(class="ads")
        div(class="tag-cloud-tags" id="tagcloud")
        include comment
block scripts
    script(src="/javascripts/autotoc.js")
    script(type="text/javascript" src="/third-part/highlight/highlight.pack.js?t="+sst)
    script.
        $("#like1").click(function(){
            $.get("/like-add", function(status){
                if(status.code==1){
                alert("谢谢你的喜欢！！")
                }
            });
        });
        $(function(){
            $('pre').each(function(i, block) {
                hljs.highlightBlock(block);
            });
        });
        new AutocJS({
            article: '.post-body',
            isOnlyAnchors: true,
            //selector: 'h1',
            // 不配置 selector 属性，即使用默认选择器
            title: '文章目录',
        });