extends layout
block head_content
  title= title + " | " + blog_name
  meta(name="description" content=desc)
  meta(name="keywords" content=tag+","+ site.keywords)
  link(rel='stylesheet', href='/stylesheets/post.css?t='+sst)
block content
    include partails/post-aside  
    div(class="post-content")
        h2(class="post-title")= title
        div(class="author" style="display: flex;")
            a(class="avatar" href="/post/about"+author target="_blank")
                img(src=head_img id="no-view")
            div(class="info")
                span(class="name")
                    a(href="/search?s="+author target="_blank" id="author_name" data-name=author)= author
                a(class="follow" href="/post/email" target="_blank")
                    span= "关注"
                div(class="meta")
                    span= "阅读" + view
                    span= "喜欢" + like
                    a(href="/tag/"+tag style="color:#969696")
                        span= "·" + tag
                    span="发表" + createTime
                    span= "更新" + updateTime

        article(class="post-body")
            div!=content
        div(class="like")
            button(id="like1")= "喜欢"
        div(class="ads")
            a(class="ads-link" href="https://me.idealli.com/post/651cfd47.html" target="_blank")
                img(data-src="https://me.idealli.com/uploads/images/imageup-1558576491588.png", class="ads-img" id="no-view")
        div(class="tag-cloud-tags" id="tagcloud" name="tagcloud")
            each tag in tags
                a(style="font-size: 16px;" href="/tag/" + tag)
                    div(class="tag_img" data-img=tag)
                    span=tag
        br
        include partails/comment
        div(class="hr_more_post")="最近文章"
        ul(id="more_post_list" class="post_list" style="list-style:none;")
         
block scripts
    script(src="/javascripts/autotoc.js")
    script(type="text/javascript" src="/third-part/highlight/highlight.pack.js?t="+sst)
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
    script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
    script.
        new AutocJS({
            article: '.post-body',
            isOnlyAnchors: true,
            //selector: 'h1',
            // 不配置 selector 属性，即使用默认选择器
            title: '文章目录',
        });
        $(".post-body img").wrap(function(index){
            return "<a data-fancybox=gallery href='" + this.src + "'></a>"
        })