extends layout
block head_content
  title= title + " | " + site.title
  link(rel='stylesheet', href='/stylesheets/post.css')
  link(rel="stylesheet", href="/third-part/highlight/styles/github.css")
block content
    div(class="post-content")
        h2(class="post-title")= title
        div(class="author")
            a(class="avatar" href="/about/")
                img(src="/images/head.png" id="no-view")
            div(class="info")
                span(class="name")
                    a(href="/")= "小鸡"
                a(class="follow" href="/email/index.html")
                    span= "关注"
                div(class="meta")
                    span= "阅读" + view
                    span= " 喜欢" + like
                    span= " 标签 " + tag
                    span= " 更新" + updateTime

        article(class="post-body")
            div!=content
        div(class="tag-cloud-tags" id="tagcloud")
        include comment
